@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    height: 100%;
}
button{
    padding: 30px;
    font-weight: bold;
}
div.bloco{
    width: 500px;
    height: 500px;
    margin: auto;
    padding-top: 100px;
    
}